# 1. 모든 데이터 폴더 내의 실제 파일들을 제외
# 하위 모든 파일과 폴더를 무시하도록 **를 추가하는 것이 더 확실합니다.
data/raw/aihub_pill/images/**
proj_pill/pill_data/pill_data_croped/**
proj_pill/pill_data/test/pill_data_croped_test/**

# 2. 하지만 압축파일(.zip)은 업로드 대상에 포함
!*.zip

# 3. 모델 가중치 및 캐시
*.pt
*.pth
__pycache__/
.ipynb_checkpoints/